<div class="titleAboutMe align-content-center text-center">
    <h3 class="text-muted text-center font-italic"><strong>Wath <code>TECHNOLOGY</code> do i use?</strong></h3>
    <div class="d-md-flex text-left">
        <p class="textAboutMe">
            I look for the balance between the pointer and the user. With programming languagues such as <strong>JavaScript & TypeScript</strong>.
        </p>
        <p class="textAboutMe">
            Always with the help of Frameworks like <strong>Angular</strong>, <strong>Vue</strong>, <strong>Node</strong>, <strong>Bootstrap</strong>, <strong>NigthWatch</strong>.
        </p>
        <p class="textAboutMe">
            Although I can also work with smartphones using <strong>IONIC</strong> and <strong>Cordova</strong>.
        </p>
    </div>
</div>