<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
    <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
  </svg>

<div id="div-space" class="div-space"></div>

<!--
MAP LOCATION
<div id="app-map" class="container-newDiv-2000">
    <app-map-location></app-map-location>
</div>
-->


<!-- CONTACT -->
<div class="container-fluid">
    <div class="row mt-5">
        <div class="d-md-flex justify-content-center text-center">
            <div id="app-text-location" class="container-newDiv-2000">
                <app-text-location></app-text-location>
            </div>
            <div id="app-write-letter" class="container-newDiv-2000">
                <app-write-letter></app-write-letter>
            </div>
        </div>
        <div id="boxButtonWriteLetter" class="col text-center">
            <button id="buttonWriteLetter" (click)="hideButton()" class="btn btn-outline-light m-5 align-middle"><strong class="display-4 m-3 ">  CONTACT ME  </strong></button>
        </div>
    </div>
</div>


<!--
  <footer>
    <div class="container-fluid ">
        <div class="row justify-content-center text-white pt-4 pb-4 ">
            <div class="col mt-4 ">
                <p>Designed and built with all the love in the world. Code licensed <a href="https://creativecommons.org/licenses/by/3.0/ "><span class="badge badge-dark display-4 ">MIT</span></a>, docs BY 3.0.
                </p>
            </div>
        </div>
    </div>
</footer>
-->