<div class="card m-5">
    <div class="card-header">
        <h1 class="strong">Hi! Thanks for contact me.</h1>
    </div>
    <div class="card-body">
        <p class="lead">Actually Iḿ living in Madrid, Spain. But I'm planning get a new job in Ireland. Dublin or Cork, both are my preference sites.
        </p>
        <hr class="my-2">

        <blockquote class="blockquote">
            <footer class="card-blockquote">I'm <cite title="Source title">social</cite></footer>
        </blockquote>
    </div>
</div>