<!-- HEADER -->
<header>
    <!-- LOGOTIPO Y MENU -->
    <div class="container-fluid d-none">
        <div class="row nav">
            <!-- LOGOTIPO -->
            <div id="logotipo" class="col-md-12 col-lg logo mt-2">
                <div class="row">
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-end">
                        <i class="fas fa-angle-left mr-1 text-light"></i>
                        <h3><code><strong>Luis Santiago Lillo</strong></code></h3>
                        <i class="fas fa-angle-right ml-1 text-light"></i>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-start">
                        <span class="icono icon-dot"></span>
                        <h3>Web Developer</h3>
                    </div>
                </div>
            </div>

            <!-- MENU -->
            <nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
                <a href="#home" class="c-1 d-flex align-items-center nav-link">
                    <div class="d-flex flex-column text-center">
                        <span>Home</span>
                        <i class="icono icon-briefcase"></i>
                    </div>
                </a>
                <a href="#about" class="c-2 d-flex align-items-center nav-link">
                    <div class="d-flex flex-column text-center">
                        <span>About me</span>
                        <i class="icono icon-user"></i>
                    </div>
                </a>
                <a href="#contact" class="c-3 d-flex align-items-center nav-link">
                    <div class="d-flex flex-column text-center">
                        <span>Contact</span>
                        <i class="icono icon-mail"></i>
                    </div>
                </a>
            </nav>
        </div>
    </div>

    <!-- HOME -->
    <!-- d-flex align-items-center justify-content-center -->
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center mt-5">
                <i class="fas fa-angle-left mr-1 text-light"></i>
                <h3><code><strong>Luis Santiago Lillo</strong></code></h3>
                <i class="fas fa-angle-right ml-1 text-light"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 pt-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col"></div>
                                    <!-- bg-light -->
                                    <div class="col bg-light mb-2 pt-3 rounded">
                                        <h3 class="text-dark font-weight-bold text-monospace font-italic">WEB DEVELOPER</h3>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <!-- border-top border-white -->
                            <h1 class="text-white">JUNIOR CODE</h1>
                        </div>
                        <div class="col-12 pt-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col bg-light mb-1 pt-3 rounded">
                                        <h3 class="text-dark font-weight-bold text-monospace font-italic">Hi, I'm Luis</h3>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 border-bottom border-white pb-3">
                            <h1 class="display-4 text-white font-weight-bold">I design & build</h1>
                        </div>
                    </div>
                </div>
            </div>


            <!--
                          <div class="col-12 d-flex align-items-center justify-content-center align-self-end mt-5 text-white">
                              <h3>Web Developer</h3>
                          </div>
                          <div class="col-12 d-flex align-items-center justify-content-center align-self-end mt-5">
                              <h2 class="text-white">Hi, I'm Luis. I design & build</h2>
                          </div>
                          -->
        </div>

        <br><br>

        <div class="row d-none d-sm-block mt-5">
            <div class="col d-flex align-items-center justify-content-center align-self-end mt-2">
                <!--display-1-->
                <h2><i class="fas fa-terminal mr-5 text-success"></i></h2>
                <h2 id="message" class="display-3 text-white"></h2>
                <h2 id="indicator" class="display-4 text-muted">|</h2>
            </div>
        </div>

        <div class="row d-sm-none align-items-center justify-content-center mt-5">
            <ul class="list-group">
                <li id="li1" class="list-group-item active">
                    <h2 class="">Web Sites</h2>
                </li>
                <li id="li2" class="list-group-item">
                    <h2 class="">Web Applications</h2>
                </li>
                <li id="li3" class="list-group-item">
                    <h2 class="">User Interfaces</h2>
                </li>

            </ul>
        </div>




    </div>
</header>